<footer>
  <div class="container d-flex flex-column flex-md-row justify-content-md-between align-items-md-center p-12">
    <div class="d-flex flex-column">
      <a class="fs-2 fs-md-4 text-black mb-2 mb-lg-0 text-hover" href="./index.html">ALPHABOX+</a>
      <p class="font-SansTC text-black fw-bold letterSpc-1 mb-0 d-none d-md-block">Copyright © 2023 Hexschool.</p>
    </div>
    <img class="emergency mb-2 object-fit-cover" src="../assets/images/emergency.svg" alt="米字符號" style="width: 58px;height: 60px; padding: 10px;">
    <ul class="list-unstyled d-flex flex-column flex-md-row mb-0">
      <li class="mb-2"><a class="text-black text-hover fw-bold pe-0 pe-md-2 pe-lg-8" href="#">關於我們</a></li>
      <li class="mb-2"><a class="text-black text-hover fw-bold pe-0 pe-md-2 pe-lg-8" href="#">產品資訊</a></li>
      <li class="mb-2"><a class="text-black text-hover fw-bold pe-0 pe-md-2 pe-lg-8" href="#">常見問題</a></li>
      <li class="mb-2"><a class="text-black text-hover fw-bold" href="#">隱私政策</a></li>
    </ul>
    <p class="font-SansTC text-black fw-bold letterSpc-1 mb-0 d-block d-md-none">Copyright © 2023 Hexschool.</p>
  </div>
</footer>