<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <section class="container-fluid bg-primary-800 mt-19 mt-lg-20">
        <div class="container pt-18">
          <h1 class="fs-11 text-dark letterSpc-10 font-SansTC pb-18 bdr-dotted mb-12" style="font-weight: 900;">FAQ</h1>
          <div class="row">
            <div class="col-md-4">
              <ul class="list-unstyled d-flex flex-column bdr-bottom-dotted">
                <li class="mb-5 bdr-hover">
                  <a class="text-tdark font-SansTC fw-medium bdr-hover" href="#">
                    ALPHABOX+ 使用問題
                  </a>
                </li>
                <li class="mb-5">
                  <a class="text-tdark font-SansTC fw-medium bdr-hover" href="#">
                    訂購與運送
                  </a>
                </li>
                <li class="text-tdark font-SansTC fw-medium bdr-hover mb-8">
                  <a class="text-tdark font-SansTC fw-medium bdr-hover" href="#">
                    產品保養與維修
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-md-8">
              <ul class="accordion list-unstyled text-tdark mb-20 mb-lg-24" id="accordionFAQ">
                <li class="accordion-item bg-transparent rounded-0">
                    <button class="accordion-button collapsed d-block bg-transparent rounded-0 bdr-dotted" type="button" data-bs-toggle="collapse" data-bs-target="#faq-1"
                      aria-expanded="true" aria-controls="faq-1">
                      <h2 class="accordion-header fs-6 font-SansTC row fw-medium align-items-center">
                        <span class="col-9">
                          ALPHABOX+ 的使用方式是什麼？
                        </span>
                        <span class="col-3">
                          <span class="material-icons addIcon fs-1">
                            add
                          </span>
                          <span class="material-icons removeIcon fs-1">
                            remove
                          </span>
                        </span>
                      </h2>
                      <div id="faq-1" class="accordion-collapse collapse row" data-bs-parent="#accordionFAQ">
                        <div class="col-9">
                          <p class="accordion-body font-SansTC mt-2 mb-0">
                            首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                          </p>
                        </div>
                      </div>
                    </button>
                </li>
                <li class="accordion-item bg-transparent rounded-0">
                    <button class="accordion-button collapsed d-block bg-transparent rounded-0 bdr-dotted" type="button"
                      data-bs-toggle="collapse" data-bs-target="#faq-2" aria-expanded="true" aria-controls="faq-2">
                      <h2 class="accordion-header fs-6 font-SansTC row fw-medium align-items-center">
                        <span class="col-9">
                          ALPHABOX+ 需要什麼樣的環境來使用？
                        </span>
                        <span class="col-3">
                          <span class="material-icons addIcon fs-1">
                            add
                          </span>
                          <span class="material-icons removeIcon fs-1">
                            remove
                          </span>
                        </span>
                      </h2>
                      <div id="faq-2" class="accordion-collapse collapse row" data-bs-parent="#accordionFAQ">
                        <div class="col-9">
                          <p class="accordion-body font-SansTC mt-2 mb-0">
                            首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                          </p>
                        </div>
                      </div>
                    </button>
                </li>
                <li class="accordion-item bg-transparent rounded-0">
                    <button class="accordion-button collapsed d-block bg-transparent rounded-0 bdr-dotted" type="button"
                      data-bs-toggle="collapse" data-bs-target="#faq-3" aria-expanded="true" aria-controls="faq-3">
                      <h2 class="accordion-header fs-6 font-SansTC row fw-medium align-items-center">
                        <span class="col-9">
                          ALPHABOX+ 支援哪些語言？
                        </span>
                        <span class="col-3">
                          <span class="material-icons addIcon fs-1">
                            add
                          </span>
                          <span class="material-icons removeIcon fs-1">
                            remove
                          </span>
                        </span>
                      </h2>
                      <div id="faq-3" class="accordion-collapse collapse row" data-bs-parent="#accordionFAQ">
                        <div class="col-9">
                          <p class="accordion-body font-SansTC mt-2 mb-0">
                            首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                          </p>
                        </div>
                      </div>
                    </button>
                </li>
                <li class="accordion-item bg-transparent rounded-0">
                    <button class="accordion-button collapsed d-block bg-transparent rounded-0 bdr-dotted" type="button"
                      data-bs-toggle="collapse" data-bs-target="#faq-4" aria-expanded="true" aria-controls="faq-4">
                      <h2 class="accordion-header fs-6 font-SansTC row fw-medium align-items-center">
                        <span class="col-9">
                          ALPHABOX+ 的軟體更新方式為何？
                        </span>
                        <span class="col-3">
                          <span class="material-icons addIcon fs-1">
                            add
                          </span>
                          <span class="material-icons removeIcon fs-1">
                            remove
                          </span>
                        </span>
                      </h2>
                      <div id="faq-4" class="accordion-collapse collapse row" data-bs-parent="#accordionFAQ">
                        <div class="col-9">
                          <p class="accordion-body font-SansTC mt-2 mb-0">
                            首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                          </p>
                        </div>
                      </div>
                    </button>
                </li>
                <li class="accordion-item bg-transparent rounded-0">
                    <button class="accordion-button collapsed d-block bg-transparent rounded-0 bdr-dotted" type="button"
                      data-bs-toggle="collapse" data-bs-target="#faq-5" aria-expanded="true" aria-controls="faq-5">
                      <h2 class="accordion-header fs-6 font-SansTC row fw-medium align-items-center">
                        <span class="col-9">
                          購買 ALPHABOX+ 後的售後服務如何？
                        </span>
                        <span class="col-3">
                          <span class="material-icons addIcon fs-1">
                            add
                          </span>
                          <span class="material-icons removeIcon fs-1">
                            remove
                          </span>
                        </span>
                      </h2>
                      <div id="faq-5" class="accordion-collapse collapse row" data-bs-parent="#accordionFAQ">
                        <div class="col-9">
                          <p class="accordion-body font-SansTC mt-2 mb-0">
                            首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                          </p>
                        </div>
                      </div>
                    </button>
                </li>
                <li class="accordion-item bg-transparent rounded-0">
                    <button class="accordion-button collapsed d-block bg-transparent rounded-0 bdr-dotted" type="button"
                      data-bs-toggle="collapse" data-bs-target="#faq-6" aria-expanded="true" aria-controls="faq-6">
                      <h2 class="accordion-header fs-6 font-SansTC row fw-medium align-items-center">
                        <span class="col-9">
                          購買 ALPHABOX+ 後的售後服務如何？
                        </span>
                        <span class="col-3">
                          <span class="material-icons addIcon fs-1">
                            add
                          </span>
                          <span class="material-icons removeIcon fs-1">
                            remove
                          </span>
                        </span>
                      </h2>
                      <div id="faq-6" class="accordion-collapse collapse row" data-bs-parent="#accordionFAQ">
                        <div class="col-9">
                          <p class="accordion-body font-SansTC mt-2 mb-0">
                            首先請確保機器人已安裝並連接至Wi-Fi，然後使用專屬的應用程式進行設定。隨後即可透過語音指令或應用程式與機器人進行互動。
                          </p>
                        </div>
                      </div>
                    </button>
                </li>
              </ul>
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
