<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <title>AI-虛擬陪伴_首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <!-- BN區 -->
      <div class="container-fluid mt-19 mt-lg-20 bn__bg">
        <!-- 主要文字區 -->
        <ul class="list-unstyled letterSpc-1 d-flex flex-column mb-0">
          <li class="mx-start ms-lg-auto col-lg-3 mt-9 mt-md-12 mt-lg-16 border-top">
            <p class="font-SansTC text-white fw-bold mb-0 pt-2 mb-14 mb-lg-0">ALPHABOX+ STUDIO</p>
          </li>
          <li class="position-relative mx-auto mb-10 d-flex justify-content-center">
            <img class="circle" src="../assets/images/circle.png" alt="ALPHABOX+ circle" style="margin-top: -20px;">
          </li>
          <li class="mx-auto">
            <h1 class="fs-5 fs-lg-2 text-white text-center mb-10 mb-lg-8">
             <span class="letterSpc-13">ALPHABOX</span><span>+</span>
            </h1>
          </li>
          <li class="mb-10 mb-lg-0">
            <p class="fw-bold letterSpc-3 text-white text-center mb-0">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
          </li>
        </ul>
        <!-- 機器人卡片區 -->
       
          <div class="row mx-0 mx-md-18 robot__cardBN position-relative">
            <div class="position-absolute row align-items-xl-end mx-auto">
              <div class="col-12 col-md-6 col-xl-3 p-0 p-sm-2 p-lg-4">
                <div class="card card-hover rounded-0 border-0 mb-2 position-relative">
                  <a class="fw-bold font-SansTC text-white position-absolute mb-0 mt-2 news d-none d-xl-block border-bottom pb-2 w-100"
                    href="">
                    最新消息！新版本 v15.4 釋出，搶先體驗！
                  </a>
                  <div class="card-img rounded-0 img__Diane"></div>
                  <div class="card-img-overlay">
                    <h3 class="card-title fs-2 text-white text-center">Diane</h3>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3 p-0 p-sm-2 p-lg-4">
                <div class="card card-hover rounded-0 border-0 mb-2">
                  <div class="card-img rounded-0 img__Felix"></div>
                  <div class="card-img-overlay">
                    <h3 class="card-title fs-2 text-white text-center">Felix</h3>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3 p-0 p-sm-2 p-lg-4">
                <div class="card card-hover rounded-0 border-0 mb-2">
                  <div class="card-img rounded-0 img__Karina"></div>
                  <div class="card-img-overlay">
                    <h3 class="card-title fs-2 text-white text-center">Karina</h3>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xl-3 p-0 p-sm-2 p-lg-4">
                <div class="card card-hover rounded-0 border-0 mb-2 position-relative">
                  <p class="fw-medium letterSpc-1 font-SansTC text-primary-500 position-absolute mb-0 Copyright d-none d-xl-block">
                    Copyright © 2023 Hexschool.</p>
                  <div class="card-img rounded-0 img__Vito"></div>
                  <div class="card-img-overlay">
                    <h3 class="card-title fs-2 text-white text-center">Vito</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- 什麼是ALPHABOX+區 -->
      <div class="container-fluid gradient__bg pt-10">
        <div style="background-image: url(../assets/images/carousel_background.png); background-repeat: no-repeat; height: 1080px; background-size: contain;">
          <!-- 標題 -->
          <div class="border-bottom mb-10">
            <h2 class="font-SansTC fs-11 text-white fw-bold letterSpc-10 mx-21 mb-4" style="padding-top: 192px;">什麼是</h2>
            <h2 class="font-SansTC fs-11 text-white fw-bold letterSpc-10 mx-21 mb-5">ALPHABOX+</h2>
          </div>
          
          <!-- Swiper -->
          <div class="row align-items-center justify-content-between g-0 mx-21">
            <!--  左箭頭  -->
            <div class="col-1 d-none d-md-block">
              <div class="swiper-button-prev">
                <img src="https://hackmd.io/_uploads/BJUmHUm6n.png" alt="left arrow" class="img-fluid rotate">
              </div>
            </div>
            <!--   Slides   -->
            <div class="col-md-9 mt-3">
              <div class="swiper SwiperAboutus">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="alphabox d-flex flex-column align-items-start align-items-md-end justify-content-end justify-content-md-center">
                      <div class="alphabox-intro">
                        <h3 class="lh-base text-md-end mb-3">
                          <span class="fs-9 text-white">01</span><br>
                          <span class="alphabox-title text-white">立體投影技術</span>
                        </h3>
                        <p class="mb-0 text-white">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div
                      class="alphabox d-flex flex-column align-items-start align-items-md-end justify-content-end justify-content-md-center">
                      <div class="alphabox-intro">
                        <h3 class="lh-base text-md-end mb-3">
                          <span class="fs-9 text-white">02</span><br>
                          <span class="alphabox-title text-white">立體投影技術</span>
                        </h3>
                        <p class="mb-0 text-white">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div
                      class="alphabox d-flex flex-column align-items-start align-items-md-end justify-content-end justify-content-md-center">
                      <div class="alphabox-intro">
                        <h3 class="lh-base text-md-end mb-3">
                          <span class="fs-9 text-white">03</span><br>
                          <span class="alphabox-title text-white">立體投影技術</span>
                        </h3>
                        <p class="mb-0 text-white">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  右箭頭  -->
            <div class="col-1 d-none d-md-block">
              <div class="swiper-button-next">
                <img src="https://hackmd.io/_uploads/BJUmHUm6n.png" alt="right arrow" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid position-relative">
          <!-- 裝飾帶 -->
          <div class="d-flex justify-content-center">
            <div class="deco mx-auto position-absolute" style=" height: 40px;"></div>
          </div>
          <!-- 裝飾帶 2 -->
          <div class="d-flex justify-content-center">
            <div class="deco2 mx-auto position-absolute" style=" height: 40px;"></div>
          </div>
        </div>
          

      </div>

      <!-- 最新消息區 -->
      <div class="gradient__bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="font-SansTC fs-11 text-white fw-bold letterSpc-10 text-center text-lg-start mx-21 mb-4 border-bottom pb-12" style="padding-top: 192px;">最新消息</h2>
            </div>
            <ul class="row list-unstyled ">
              <li class="col-12"></li>
              <li class="col-lg-6"></li>
              <li class="col-lg-6"></li>
            </ul>
          </div>
          
        </div>
        
      </div>

    </main>
    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    
    <!-- Initialize Swiper -->
    <script>
      
      const swiper = new Swiper('.SwiperAboutus', {
          autoplay: {
            delay: 5000,
          },
          breakpoints: {
            768: {
              autoplay: {
                enabled: false,
              }
            }
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        });
    </script>
  </body>
</html>
